@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
    font: 16px/1.5 Lato, sans-serif;
}

h1, h2 {
    font-family: Cormorant, serif;
    line-height: 1.2;
    font-weight: bold;
}