body {
    background-color: lightgray;
}

.gallery li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

.gallery li img {
    width: 80%;
    padding: 20px;
    background-color: white;
    border: 5px solid black;
}